<div class="collapse bg-dark" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-7 py-4">
        <h4 class="text-white">DevKeveloper</h4>
        <p class="text-muted">Aplicacion hecha para la practica de angular.</p>
      </div>
      <div class="col-sm-4 offset-md-1 py-4">
        <h4 class="text-white">Modulos</h4>
        <ul class="list-unstyled">
          <li><a routerLink="/rates" class="text-white">Rates</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="navbar navbar-dark bg-dark shadow-sm">
  <div class="container d-flex justify-content-between">
    <a href="#" class="navbar-brand d-flex align-items-center">
      <a class="" routerLink="/"><img class="rounded mx-auto d-block" width="50" alt="Logo DevKeveloper" src="./assets/graphics/LogoDevKeveloperDark.png"></a>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
      aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>
<!-- https://apispotter.com/dashboard -->